p {
  font-family: Arial;
  color: rgb(100, 100, 100);
  margin-top: 0;
  margin-bottom: 0;
}

.email-change
{
  font-size: 16px;
  margin-bottom: 10px;
}
.text-box {
  font-size: 16px;
  width: 400px;
  border-width: 2px;
  border-style: solid;
  border-color: rgb(100, 100, 100);
  padding-top: 7px;
  padding-bottom: 7px;
  border-radius: 5px;
  margin-bottom: 20px;
}
.privacy-policy
{
  font-size: 16px;
  margin-bottom: 20px;
}

.button-change
{
  color: white;
  background-color: rgb(10, 102, 194);
  border-radius: 30px;
  border: none;
  width: 400px;
  padding-top: 16px;
  padding-bottom: 16px;
}