div
{
  text-align: center;
}

img
{
  width: 300px;
  object-fit: cover;
  height: 100px;
}

input
{
  width: 500px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
  border: none;
  padding-left: 15px;
  padding-top: 12px;
  padding-bottom: 12px;
  border-radius: 20px;
  font-size: bolder;
  font-size: 15px;
  margin-bottom: 30px;
}

.Google-Search
{
  background-color: rgb(245, 245, 245);
  border: none;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  margin-right: 10px;
  font-weight: bold;
}
