.text-align
{
  display: inline-block;
  vertical-align: middle;
  width: 200px;
}

.button-yes
{
  display: inline-block;
  vertical-align: middle;
}

.button-no
{
  display: inline-block;
  vertical-align: middle;
}