.Uber-Button
      {
        background-color: black;
        color: white;
        cursor: pointer;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
      }
    
      .Uber-Button:hover
      {
        opacity: 0.7;
      }
      .Uber-Button:active
      {
        opacity: 0.5;
      }