p
  {
    font-family: Arial;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
  }

  .Paragraph1
  {
    font-size: 28px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .Paragraph2
  {
    margin-bottom: 20px;
  }

  .Paragraph3
  {
    color: blue;
  }